%h1= @movie.title
.jumbotron
  .container
    .row
      .col-xs-2
        %img.img-rounded{ src: @movie.cover, height: '300', width: '200', style: "margin-left: -45px" }
      .col-xs-9
        = @movie.description
      .col-xs-1
        Rating:
        =@movie.rating
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'

%h3 Comments
= render 'layouts/comment_form'
- @movie.comments.each do |comment|
  .comment
    %h4= comment.title
    %h6= comment.contents
    %label{:for => "comment.user.name"}> Created by:
    = " #{comment.user.name}"
    %br/
    = link_to "Delete", comment_path(comment.id), method: :delete, class:'btn btn-danger'
